<% @active_booking_categories.each do |category| %>
  <div class="col-xs-12 col-sm-6 col-md-4 category row-padding">
    <div class="category-container">
      <%= render "show", booking_category: category, category_bookings: category.bookings %>
    </div>
  </div>
<% end %>