<div class="col-xs-12 col-sm-6 col-md-6 category row-padding">
  <div class="category-container">
    <%= render "show", booking_category: @booking_category, category_bookings: @category_bookings %>
  </div>
</div>