<div class="col-xs-12 facebook-auth">
  <figcaption class="fb-auth-container">
      <h1 class="">
        <% if current_user.valid_facebook? %>
           <%= link_to "Facebook Authorized", "/auth/facebook?scope=publish_actions,manage_pages,email", id: "sign_in" %>
           <%= image_tag(current_user.fb_picture_url, class: "") %>
        <% elsif current_user_is_admin? %>
           <%= link_to "Authorize Facebook", "/auth/facebook?scope=publish_actions,manage_pages,email", id: "sign_in" %>
        <% else %>
          Authorize Facebook to enable page wall updates.
        <% end %>
      </h1>
      <div class="">Admin only feature that enables you to post to the <%= link_to "Clark Travel", "https://www.facebook.com/ClarkTravelAgency" %> facebook business page from within the website. This also enables wall posts to display on the home screen.</div>
  </figcaption>
</div>
  