<h1>About Clark Travel</h1>
<div class="content">
  <%= image_tag("clark_travel_agency.jpg", class: "photo left") %>
</div>
<div class="content">
	<p class="about left">
		Travel in style with Clark Travel Agency, Inc.  We are your full-service
		travel specialist and have been in business for 35+ years.  When you're
		looking to make your travel dreams come true, there's no better choice
		than Clark Travel.  We'll work with you one-on-one to build the trip
		you're always wanted to take, or we'll suggest fabulous ideas if 
		you're not sure what you'd like your next vacation to be.  Looking to
		relax and do nothing but enjoy gorgeous scenery?  We can help you do 
		that.  Looking for exciting, big city stimulation and want to be busy 
		all day?  We can arrange that, too.  It's all about you at Clark Travel
		Agency, Inc.  Our aim is to create a vacation experience that is fully
		customized for you.  We want you to feel like your planned your trip
		yourself but with none of the hassle or effort.What sets us apart
		is our experience and the relationships we've established across the
		industry. We'd love to help book your dream vacation, so call us today!
		</p>
	<h1 class="padding spacer"><%= link_to "Meet Our Team", users_url, class: "spacer" %></h1>
</div>