<div class="content">
	<h1>Cruises</h1>
	<ul>
		<li><a href="http://clarktravel.caribbean.yourtrip.co/">Caribbean Cruises</a></li>
		<li><a href="http://clarktravel.europe.yourtrip.co/">European Cruises</a></li>
		<li><a href="http://www.globustravelagent.com/Default.aspx?id=42045">Worldwide Tours and River Cruises</a></li>
	</ul>
</div>
<div class="content" alt="Charter Packages">
	<h1>Travel Packages</h1>
	<ul>
		<li><a href="http://clarktravel.alaska.yourtrip.co/">Alaska</a></li>
		<li><a href="http://www.applevacations.com/?agentId=31731744">Caribbean and Mexico</a></li>
		<li><a href="http://clarktravel.europevacations.yourtrip.co/">Europe</a></li>
		<li><a href="http://clarktravel.exotic.yourtrip.co/">Exotic Destinations</a></li>
		<li><a href="http://crusader.travimp.com/TIDirect/TIDirectFrontServlet?request_type=search&amp;TIConnectId=31731744">Independent Packages to Caribbean, Mexico, USA, and Central/South America</a></li>
		<li><a href="http://clarktravel.luxury.yourtrip.co/">Luxury Vacations</a></li>
	</ul>
</div>