<div class="col-xs-12 cruising tint background-image row-padding">
  <figure class="figure">  
    <div class="text-center">
     	<h1>Ted Hierl's German  American Radio Cruise</h1>

     	<h2>Roundtrip From</h2>
		<h2>New York</h2>
		<h2><strong>October 13, 2018</strong></h2>
		<h2>7 Nights from:</h2>
		<h2>$1,079</h2>
      
		<p>There are few places as charming  as the coastline of Canada and New  England in the Fall.   Each and every port along the eastern seaboard is the perfect combination of  glorious tradition, colorful scenery and  colonial history.</p>
		<p>Experience places like Boston, Acadia  National Park in Bar Harbor, Halifax, and  more.   We hope you will join us on board the  wonderful Regal Princess, one of the  newer ships in the Princess fleet.</p>
		<a>  Auf Wiedersehen an Bord der 
		Regal Princess!</a>
		<p>Welcome and Auf Wiedersehen!</p>
      <p><strong>To register, click the link below. Download the form and send it to this <%= link_to "address.", page_path("directions") %></strong></p>
    </div>
  </figure>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 cruising-itinerary row-padding">
	<h2 class="center">Itinerary</h2>
	<table cellpadding="0" cellspacing="0">
		<tr>
			<th>Date</th>
			<th>Port</th>
			<th>Arrival</th>
			<th>Departure</th>
		</tr>
		<tr>
			<td>1</td>
			<td>New York, NY</td>
			<td>Embark Afternoon</td>
			<td>05:00 PM</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Newport, Rhode Island</td>
			<td>07:00 AM</td>
			<td>05:00 PM</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Boston, Massachusetts</td>
			<td>11:00 AM</td>
			<td>08:00 PM</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Bar Harbor, Maine</td>
			<td>07:00 AM</td>
			<td>07:00 PM</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Saint John, New Brunswick (for the Bay of Fundy)</td>
			<td>08:00 AM</td>
			<td>04:45 PM</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Halifax, Nova Scotia</td>
			<td>09:00 AM</td>
			<td>06:00 PM</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Cruising the Atlantic Ocean</td>
			<td>5:00 AM</td>
			<td>10:00 AM</td>
		</tr>
		<tr>
			<td>8</td>
			<td>New York, NY</td>
			<td>Disembarkation</td>
			<td></td>
		</tr>
	</table>
</div>


<div class="col-xs-12 col-sm-6 col-md-6 cruising-links row-padding">
	
  <h2 class="center">Registration:</h2>  
  
  <ul class="list-group center">
    <li class="list-group-item">
      <%= link_to image_url("Regal-princess-deck-plan.pdf"), class: "center", target: "_blank" do %>
        Deck Plan PDF
        <i class="fa fa-file-pdf-o fa-lg"></i>
      <% end %>  
    </li>
    <li class="list-group-item">
      <%= link_to image_url("DarbyLitho-GermanCruise2018-R1-proof.pdf"), class: "center", target: "_blank" do %>
        Registration Form PDF
        <i class="fa fa-file-pdf-o fa-lg"></i>
      <% end %>        
    </li>
    <li class="list-group-item">
      <% link_to new_german_cruising_form_url, class: "center disabled" do %>
        Register Online (Coming soon!)
        <i class="fa fa-envelope-o fa-lg"></i>
      <% end %>
    </li>

   
  </h2>
</div>
<div class="col-xs-12">
  <h1 class="center contact-us" id="contact-us"><%= link_to "Contact an agent to learn more!", user_url(User.where(first_n ame: "Ulrike", last_n ame: "Ocasio").first.id, inquiry: "Ted Hierl's German  American Radio Cruise"), class: "center" %></h1>
</div>