/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require gallery/responsive/elastislide
 *= require gallery/responsive
 *= require gallery/slideshow
 *= require gallery/galleria/classic
 *= require gallery/touch_touch
 */


/*******************************************************************************
	AUTHOR:		Douglas Teixeira
	CONTACT:	teixeira@AyosInformatics.com
  WEBSITE: www.AyosInformatics.com
	
	Style applied to main site. Use 12 pixel margins.
*******************************************************************************/

/***************************************************************************
		Override.
	***************************************************************************/
 @font-face {
    font-family:  inherit;
/*    src: url('res/Quicksand_Book.otf') format('opentype');*/
}
* {
    padding: 0;
    margin: 0;
}
a:link, a:visited {
    color: #383884;
}
a:hover, a:active {
    color: #618db5;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  box-sizing: content-box;
  display: inline-block;
  color: inherit;
  font: inherit;
  width: auto;
}

body {
    background-image: url('body_bg.png');
    background-position: center top;
    background-repeat: repeat-x;
    background-color:#e3e3e3;
    font-family: sans-serif;
    font-size: 13px;
}
h1 {
    font-family:'Quicksand', arial;
    font-size: 27px;
    padding-top: 12px;
    font-weight: normal;
}

.content h1 {
  margin-bottom: 10px;
}

hr {
    height: 4px;
    background-image: url('hr_bg.gif');
    border-width: 0;
    margin-top: 12px;
}
img {
    border-width: 0;
    display: block;
}
input {
    padding: 6px;
}
p {
    line-height: 19px;
    padding-top: 12px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
}
textarea {
    width: 100%;
    height: 130px;
}
td {
    padding: 6px;
    border: 1px solid #eeeeee;
}
th {
    background-color: #eeeeee;
    padding: 6px;
    border: 1px solid white;
}
ul {
    list-style-position: inside;
    margin: 12px 0 0 12px;
}
/* Shared. */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

li.right {
  float: right;
}

 img.delete {
    margin-top: 12px;
    float: right;
    cursor: pointer;
}

.delete-button {
  float: right;
}

.photo {
    background-color: #9ea3d9;
    padding: 6px;
    border: 1px solid #eeeeee;
}

.map {
  margin: auto;
  margin-top: 12px;
}
p.signature {
    font-family: cursive;
    text-align: right;
    color: #505050;
}

.work-icon {
  list-style-image: url('work.gif');
}

.mobile-icon {
  list-style-image: url('mobile.gif');
}

.fax-icon {
  list-style-image: url('fax.gif');
}

/***************************************************************************
    User index: Contact
	***************************************************************************/

.contact-info {
/*  background-color: blue;*/
  margin-left: 12px;
  width: 164px;
  float: left;
}

.small-avatar {
  float: left;
}


/***************************************************************************
		Header.
	***************************************************************************/
 div.header {
    width: 1260px;
    margin: 12px auto 0 auto;
    overflow: auto;
}
/*div.header img {
    float: left;
}*/
div.header div.location {
    font-size: 11.5px;
    color: black;
    margin-left: 12px;
    float: right;
}

.logins {
  float: right;
}

.logout {
  display: none;
}

.logout:hover {
  display: block
}
/***************************************************************************
		Navigation.
	***************************************************************************/
 ul.navigation {
    width: 748px;
    padding: 0 6px 0 6px;
    margin: 0px auto 15px auto;
    overflow: auto;
}

.logo {
  text-indent: 9999px;
  width: 216px;
  height: 60px;
  display: block;
  background: url("clark_travel_logo.png") no-repeat 0 0;
  overflow: hidden;
  float: left;
}

.nav-li {
    list-style-type: none;
    float: left;
}
ul.navigation li a {
    font-family:'Quicksand', arial;
    line-height: 46px;
    color: white;
    text-decoration: none;
    padding: 0 6px 0 6px;
    display: block;
}
ul.navigation li a:hover {
    background-color: #618db5;
    border-radius: 4px;
}
/***************************************************************************
		Promotion
	***************************************************************************/
 div.promotion {
    width: 786px;
    background-image: url('content_bg_full.png');
    background-repeat: no-repeat;
    padding-top: 12px;
    margin: auto;
}
div.promotion img.promotion {
    width: 760px;
    height: 360px;
    background-color: white;
    padding: 12px;
    border: 1px solid #eeeeee;
    float: left;
}
div.promotion img.previous {
    margin: -230px 0 0 -12px;
    float: left;
}
div.promotion img.next {
    margin: -230px -12px 0 0;
    float: right;
}
div.promotion img.promotion, div.promotion img.previous, div.promotion img.next {
    cursor: pointer;
}
/***************************************************************************
		Standard half size content.
	***************************************************************************/
 div.content {
    width: 784px;
    padding-left: 24px;
    margin: auto;
    overflow: auto;
}
div.content div.content {
    width: 350px;
    background-image: url('content_bg.png');
    background-repeat: no-repeat;
    padding: 24px 24px 24px 24px;
    margin-left: -12px;
    float: left;
    overflow: auto;
}
/***************************************************************************
		Large content.
	***************************************************************************/
 div.contentFull {
    width: 736px;
    background-image: url('content_bg_full.png');
    background-repeat: no-repeat;
    padding: 12px 24px 12px 24px;
    margin: 0 auto 0 auto;
    overflow: auto;
}


/***************************************************************************
		Forms.
	***************************************************************************/

.form {
/*  margin: 100px;*/
  margin: auto;
  width: auto;
  border-radius: 10px;
  float: left;
}
.long-submit > input {
  width: 250px;
}

form .submit > input {
  position: relative;
  background: #9ea3d9;
/*  color: #515254;*/
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  border: 0;
/*  width: 250px;*/
  box-shadow: 0 3px #626a99;
}

.submit > input:hover {
  background: #9198c4;
/*  background: #1A8554;*/
}

.submit {
  float: right;
}

.submit > input:active {
  top: 3px;
  box-shadow: none;
}
.input {
  margin: 20px 0 20px 15px;
}

.input > input, textarea {
  border: 2px solid #000;
  padding: 5px 10px;
  width: 300px;
  border-radius: 4px;
}

.half-size > input, .half-size > textarea {
  width: 130px;
}

.input > select {
  border-radius: 4px;
  border: 2px solid #000;
  background: transparent;
  height: 30px;
  font-size: 15px;
  padding: 5px;
  background: #fff;
}

.input > select:select {
  border-radius: 4px;
  border: 2px solid #000;
  border-color: #4BE19D;
}

.input > label {
  display: block;
  /*width: 250px;*/
  font-weight: bold;
  padding: 0 0 5px 0;
}

/******************************* Notice and Error messages. *************************************/
 div.info {
    background-color: #fffe7e;
    margin: 12px auto 0 auto;
}
div.error {
    background-color: #edabab;
    margin: 12px auto 0 auto;
}
div.info div, div.error div {
    width: 760px;
    padding-bottom: 12px;
    margin: auto;
}


/******************************* Search. *************************************/
 #searchMap {
    margin: 19px 0 0 20px;
}


/******************************* Footer. *************************************/
 div.footer {
    background-image: url('hr_bg.png');
    background-repeat: repeat-x;
    background-color: black;
/*    margin-top: 12px;*/
    padding-bottom: 12px;
    border-bottom: 6px solid black;
    overflow: auto;
}
div.footer img {
    margin: 12px auto 0 auto;
}
div.footer p {
    text-align: center;
    color: white;
}

.copyright {
  float: left;
  font-size: 12px;
  color: gray;
  padding: 10px;
}