/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require gallery/responsive/elastislide
 *= require gallery/responsive
 *= require gallery/slideshow
 *= require gallery/galleria/classic
 *= require gallery/touch_touch
 *= require jquery-ui
 *= require owl.carousel
 *= require owl.theme
 */


/*******************************************************************************
	AUTHOR:		Douglas Teixeira
	CONTACT:	teixeira@AyosInformatics.com
  WEBSITE: www.AyosInformatics.com

	Style applied to main site. Use 12 pixel margins.
*******************************************************************************/

/***************************************************************************
		Override.
	***************************************************************************/
 @font-face {
    font-family:  'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
/*    src: url('res/Quicksand_Book.otf') format('opentype');*/
}
* {
    padding: 0;
    margin: 0;
}

a {
  text-decoration: none;
}

a:link, a:visited {
    color: #383884;
}
a:hover, a:active {
    color: #618db5;
}

.header a:link, .header a:visited {
    color: #EEEEEE;
}

.header a:hover, a:active, .footer a:hover {
    color: #383884;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  box-sizing: content-box;
  display: inline-block;
  color: inherit;
  font: inherit;
  width: auto;
}

body {
/*    background-image: url('body_bg.png');*/
    background-position: center top;
    background-repeat: repeat-x;
    background-color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 13px;
}
h1 {
    font-family:'Quicksand', arial;
    font-size: 27px;
    padding-top: 12px;
    font-weight: normal;
}

.content h1 {
  margin-bottom: 10px;
}

hr {
    height: 4px;
    background-image: black;
    border-width: 0;
    margin-top: 12px;
    width: 738px;
    margin-left: 20px;
}
img {
    border-width: 0;
    display: block;
}
input {
    padding: 6px;
}
p {
    line-height: 19px;
    padding-top: 12px;
    margin-right: 16px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
}
textarea {
    width: 100%;
    height: 130px;
}
td {
    padding: 6px;
    border: 1px solid #eeeeee;
}
th {
    background-color: #eeeeee;
    padding: 6px;
    border: 1px solid white;
}
ul {
    list-style-position: inside;
    list-style-type: none;
}
/* Shared. */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.nudge-left {
  margin-left: -10px;
}

.padding {
  padding: 40px;
  padding-top: 60px;
  display: block;
  position: relative;
/*  margin-top: 16px auto 0 auto;*/
/*  width: 300px;*/
}

.left {
  float: left;
  margin-left: 16px;
}

.right {
  float: right;
  margin-right: 20px;
}

a.center {
  margin: auto;
  display: block;
  text-align: center;
/*  margin: 30px 0 30px 0;*/
  height: 104px;
  line-height: 104px;
  width: 100%;
}

li.right {
  float: right;
}

img.delete {
  margin-top: 12px;
  float: right;
  cursor: pointer;
}

a.delete-button {
  float: right;
  color: #7E0000;
  background: #D8DBDF;
  margin: 6px 16px 0 0;
  border-radius: 10px;
  padding: 2px 4px 2px 5px;
  font-size: 12px;
  font-weight: bold;
}
a.delete-button:hover {
  opacity: 0.5;
}

.about {
/*  width: 400px;*/
}
.photo {
  background-color: #728FCE;
  padding: 6px;
  margin: auto;
  max-width: 700px;
  border-radius: 4px;
}

.owl-carousel .owl-item{
/*    height:360px;*/
    width: 94%;
}

.facebook-auth > h1 {
  padding: 30px;
}

.facebook-auth > p {
  width: 320px;
}

.map {
  margin: auto;
  margin-top: 12px;
}

.map-address {
  margin: auto;
  margin-top: 12px;
  width: 654px;
  padding: 14px;
}

.paragraph {
  width: 178px;
  display: block;
  position: relative;
  float: left;
}

a.hovertext {
  position: relative;
  width: 500px;
  text-decoration: none !important;
  text-align: center;
}
a.hovertext:after {
  content: attr(title);
  position: absolute;
  left: 45px;
  bottom: 6px;
  padding: 0.5em 20px;
  width: 646px;
  background: rgba(0,0,0,0.8);
  text-decoration: none !important;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
}
a.hovertext:hover:after, a.hovertext:focus:after {
  opacity: 1.0;
}

h2.signature {
    font-family: cursive;
    text-align: right;
    color: #505050;
    text-size: 20px;
    margin-right: 16px;
}

.work-icon {
  list-style-image: url('work.gif');
}

.mobile-icon {
  list-style-image: url('mobile.gif');
}

.fax-icon {
  list-style-image: url('fax.gif');
}

/***************************************************************************
    User index: Contact
	***************************************************************************/

.contact-info {
/*  background-color: blue;*/
  margin: 12px 0 0 12px;
  width: 164px;
  float: left;
}

.small-avatar {
  float: left;
}


/***************************************************************************
		Header.
  OLD: width: 1260px;
	***************************************************************************/
 header.header {
    position: fixed;
    width: 100%;
    z-index: 1;
/*    height: 84px;*/
/*    min-width: 736px;*/
    margin: 0px auto 0 auto;
    overflow: auto;
    top: 0;
    background: linear-gradient(to bottom, #728FCE, #616D7E);
}
/*div.header img {
    float: left;
}*/
.footer .address {
    font-size: 11.5px;
    color: black;
    margin-right: 12px;
    padding-top: 20px;
    padding-left: 4px;
    float: left;
    font-weight: bold;
    text-align: center;
}

.logins {
  float: right;
  margin-right: 12px;
}

.logins li {
  float: right;
/*  width: 100%;*/
}

.hidden {
  visibility: hidden;
}

/*.logins:hover {
  display:;
}

.logins .logout {
  display: none;
}

*/

.logout {
  display: inherit;
  visibility: inherit;
}

.logins > .hidden {
  visibility: hidden;
}
.logins > .logout:hover {
  visibility: visible;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown-menu {
  position: relative;
  top: 100%;
  right: 0;
  z-index: 1000;
  float: right;
  width: 100%;
  padding: 5px 5px;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #3a3f44;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
/***************************************************************************
		Navigation.
	***************************************************************************/
 ul.navigation {
    width: 748px;
    padding: 0 6px 0 6px;
/*    margin: 0px auto 15px auto;*/
    overflow: auto;
}

.logo {
/*  text-indent: 9998px;*/
/*  text-wrap: none;*/
  width: 216px;
  height: 60px;
  display: block;
  background: url("clark_travel_logo.png") no-repeat 0 0;
/*  overflow: hidden;*/
  float: left;
  margin: 3px 12px;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.nav-li {
    float: left;
}
ul.navigation li a {
    font-family:'Quicksand', arial;
    line-height: 46px;
    color: white;
    text-decoration: none;
    padding: 0 6px 0 6px;
    display: block;
}
ul.navigation li a:hover {
    background-color: #618db5;
    border-radius: 4px;
    color: #383884;
    font-weight: bold;
}

.back-button {
  float: left;
  position: relative;
  top: -30px;
  height: 50px;
  width: 50px;
}

.dimmed {
  opacity: 0.3;
}
/***************************************************************************
		Promotion
	***************************************************************************/

.promotion {
  min-height: 250px;
}

 div.promotion {
    width: 786px;
    background-image: url('content_bg_full.png');
    background-repeat: no-repeat;
    padding-top: 12px;
    margin: auto;
}
div.promotion img.promotion {
    width: 760px;
    height: 360px;
    background-color: white;
    padding: 12px;
    border: 1px solid #eeeeee;
    float: left;
}
div.promotion img.previous {
    margin: -230px 0 0 -12px;
    float: left;
}
div.promotion img.next {
    margin: -230px -12px 0 0;
    float: right;
}
div.promotion img.promotion, div.promotion img.previous, div.promotion img.next {
    cursor: pointer;
}


/***************************************************************************
		User
	***************************************************************************/
 .user {
    min-height: 324px;
}
    
/***************************************************************************
		Standard half size content.
	***************************************************************************/
 .content {
    width: 805px;
    padding: 118px 0 6px 2px;
    margin: auto;
    overflow: auto;
}
.content .content {
    width: 350px;
    background-image: url('content_bg.png');
    background-repeat: no-repeat;
    padding: 24px 24px 24px 24px;
    margin-left: 0px;
    float: left;
    overflow: auto;
}

.no-image {
  background-image: none;
  width: 350px;
  background-repeat: no-repeat;
  padding: 24px 24px 24px 24px;
  margin-left: 0px;
  float: left;
  overflow: auto;
}

.no-image:hover {
  background-image: url('content_bg.png');
}

.min-height {
  min-height: 375px;
}
/***************************************************************************
		Large content.
	***************************************************************************/
 .contentFull {
    width: 756px;
    background-repeat: no-repeat;
    padding: 12px 24px 12px 24px;
    margin: 0 auto 48px -6px;
    overflow: auto;
}

.contentFull:hover {
    background-image: url('content_bg_full.png');
}

div.no-imageFull {
  background-image: none;
  width: 774px;
  background-repeat: no-repeat;
/*  padding: 12px 24px 12px 24px;*/
  margin: 0 auto 0 auto;
  overflow: auto;
}


/***************************************************************************
		Forms.
	***************************************************************************/

.form {
/*  margin: 100px;*/
  margin: auto;
  width: auto;
  border-radius: 10px;
  float: left;
}
form .long-submit > input {
  width: 294px;
  display: block;
  margin: auto;
  
}

.spacer {
  margin-top: 56px;
}

.checkbox-group {
  display: block;
  float: left;
  width: inherit;
  padding-bottom: 20px;
}

.checkbox-input {
  display: block;
  float: left;
  margin: 4px;
}

.checkbox-input > label {
  display: block;
  padding: 0 0 5px 0;
  float: left;
}

.checkbox-input > input {
  border: 2px solid #000;
  padding: 5px 10px;
/*  width: 250px;*/
  border-radius: 4px;
}

form .submit > input {
  position: relative;
  background: #728FCE;
/*  color: #515254;*/
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  border: 0;
/*  width: 250px;*/
  box-shadow: 0 3px #616D7E;
}

.submit > input:hover {
  background: #9198c4;
/*  background: #1A8554;*/
}

/*.submit {
  float: right;
}*/

.submit > input:active {
  top: 3px;
  box-shadow: none;
}
.input {
  margin: 20px 0 20px 15px;
}

.input > input, .input > textarea {
  border: 2px solid #000;
  padding: 5px 10px;
  width: 300px;
  border-radius: 4px;
}

.long-input > input, .long-input > textarea {
  width: 600px;
}

.center {
  margin: auto;
  width: 324px;
}
.half-size > input, .half-size > textarea {
  width: 130px;
}

.input > select {
  border-radius: 4px;
  border: 2px solid #000;
  background: transparent;
  height: 30px;
  font-size: 15px;
  padding: 5px;
  background: #fff;
}

.input > select:select {
  border-radius: 4px;
  border: 2px solid #000;
  border-color: #4BE19D;
}

.input > label {
  display: block;
  /*width: 250px;*/
  font-weight: bold;
  padding: 0 0 5px 0;
}

/******************************* Notice and Error messages. *************************************/
 
.errors {
    background-color: #edabab;
    margin: 12px auto 0 auto;
}

.notices {
  background-color: #afdbbc;
  color: #1b7d56;
}
.info {
    width: 750px;
    padding: 20px;
    margin: 112px auto -121px auto;
    position: relative;
    right: 3px;
}


/******************************* Search. *************************************/
 #searchMap {
    margin: 19px 0 0 20px;
}


/******************************* Footer. *************************************/
 footer.footer {
/*    background-image: url('hr_bg.png');
    background-repeat: repeat-x;*/
    background-color: #666362;
    background: linear-gradient(to bottom, #616D7E, #728FCE);
/*    margin-top: 12px;*/
    padding: 16px 0 12px 0;
    overflow: auto;
    min-width: 1035px;
}
/*footer.footer img {
    margin: 12px auto 0 auto;
}*/
footer.footer p {
    text-align: center;
    color: black;
}

.post {
  display: block;
  height: 150px;
  width: 350px;
  
}

.post > p {
  width: 150px;
  overflow: hidden;
  height: 150px;
}

.copyright {
  float: left;
  font-size: 12px;
  color: black;
  padding: 10px;
}
