/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/*******************************************************************************
	AUTHOR:		Douglas Teixeira
	CONTACT:	teixeira@AyosInformatics.com
  WEBSITE: www.AyosInformatics.com
	
	Style applied to main site. Use 12 pixel margins.
*******************************************************************************/

/***************************************************************************
		Override.
	***************************************************************************/
 @font-face {
    font-family:'Quicksand';
    src: url('res/Quicksand_Book.otf') format('opentype');
}
* {
    padding: 0;
    margin: 0;
}
a:link, a:visited {
    color: #383884;
}
a:hover, a:active {
    color: #618db5;
}
body {
    background-image: url('body_bg.jpg');
    background-position: center top;
    background-repeat: repeat-x;
    font-family: arial;
    font-size: 13px;
}
h1 {
    font-family:'Quicksand', arial;
    font-size: 27px;
    padding-top: 12px;
}
hr {
    height: 4px;
    background-image: url('hr_bg.gif');
    border-width: 0;
    margin-top: 12px;
}
img {
    border-width: 0;
    display: block;
}
input {
    padding: 6px;
}
p {
    line-height: 19px;
    padding-top: 12px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
}
textarea {
    width: 100%;
    height: 130px;
}
td {
    padding: 6px;
    border: 1px solid #eeeeee;
}
th {
    background-color: #eeeeee;
    padding: 6px;
    border: 1px solid white;
}
ul {
    list-style-position: inside;
    margin: 12px 0 0 12px;
}
/* Shared. */
 img.delete {
    margin-top: 12px;
    float: right;
    cursor: pointer;
}
.photo {
    background-color: white;
    padding: 6px;
    border: 1px solid #eeeeee;
}
p.signature {
    font-family: cursive;
    text-align: right;
    color: #505050;
}

.work-icon {
  list-style-image: url('work.gif');
}

.mobile-icon {
  list-style-image: url('mobile.gif');
}

.fax-icon {
  list-style-image: url('fax.gif');
}
/***************************************************************************
		Header.
	***************************************************************************/
 div.header {
    width: 760px;
    margin: 12px auto 0 auto;
    overflow: auto;
}
div.header img {
    float: left;
}
div.header div.location {
    font-size: 11.5px;
    color: black;
    margin-left: 12px;
    float: right;
}
/***************************************************************************
		Navigation.
	***************************************************************************/
 ul.navigation {
    width: 748px;
    height: 49px;
    background-image: url('navigation_bg.gif');
    padding: 0 6px 0 6px;
    margin: 12px auto 0 auto;
    overflow: auto;
}
ul.navigation li {
    list-style-type: none;
    float: left;
}
ul.navigation li a {
    font-family:'Quicksand', arial;
    line-height: 46px;
    color: white;
    text-decoration: none;
    padding: 0 6px 0 6px;
    display: block;
}
ul.navigation li a:hover {
    background-color: #618db5;
}
/***************************************************************************
		Promotion
	***************************************************************************/
 div.promotion {
    width: 786px;
    background-image: url('content_bg_full.png');
    background-repeat: no-repeat;
    padding-top: 12px;
    margin: auto;
}
div.promotion img.promotion {
    width: 760px;
    height: 360px;
    background-color: white;
    padding: 12px;
    border: 1px solid #eeeeee;
    float: left;
}
div.promotion img.previous {
    margin: -230px 0 0 -12px;
    float: left;
}
div.promotion img.next {
    margin: -230px -12px 0 0;
    float: right;
}
div.promotion img.promotion, div.promotion img.previous, div.promotion img.next {
    cursor: pointer;
}
/***************************************************************************
		Standard half size content.
	***************************************************************************/
 div.content {
    width: 772px;
    padding-left: 12px;
    margin: auto;
    overflow: auto;
}
div.content div.content {
    width: 350px;
    background-image: url('content_bg.png');
    background-repeat: no-repeat;
    padding: 12px 24px 12px 24px;
    margin-left: -12px;
    float: left;
    overflow: auto;
}
/***************************************************************************
		Large content.
	***************************************************************************/
 div.contentFull {
    width: 736px;
    background-image: url('content_bg_full.png');
    background-repeat: no-repeat;
    padding: 12px 24px 12px 24px;
    margin: 0 auto 0 auto;
    overflow: auto;
}

/******************************* Notice and Error messages. *************************************/
 div.info {
    background-color: #fffe7e;
    margin: 12px auto 0 auto;
}
div.error {
    background-color: #edabab;
    margin: 12px auto 0 auto;
}
div.info div, div.error div {
    width: 760px;
    padding-bottom: 12px;
    margin: auto;
}


/******************************* Search. *************************************/
 #searchMap {
    margin: 19px 0 0 20px;
}


/******************************* Footer. *************************************/
 div.footer {
    background-image: url('hr_bg.gif');
    background-repeat: repeat-x;
    background-color: black;
    margin-top: 12px;
    padding-bottom: 12px;
    border-bottom: 6px solid #fffe7e;
    overflow: auto;
}
div.footer img {
    margin: 12px auto 0 auto;
}
div.footer p {
    text-align: center;
    color: white;
}