$navbar-inverse-bg: rgba(114, 143, 206, 0.8);
$brand-primary: #383884;
$screen-sm: 931px;
$navbar-inverse-toggle-hover-bg: darken($brand-primary, 10%);
$navbar-inverser-brand-hover-bg: lighten($brand-primary, 10%);
$dropdown-link-color: $brand-primary;
$dropdown-bg: $navbar-inverse-bg;
$dropdown-link-hover-bg: #4c71c1;
$brand-primary-transparent: rgba(56, 56, 132, 0.2);
$table-bg-hover: $brand-primary-transparent;


@import "jquery-ui";
@import "owl.carousel";
@import "owl.theme";
@import "bootstrap-sprockets";
@import "bootstrap";


/*******************************************************************************
	AUTHOR:		Douglas Teixeira
	CONTACT:	teixeira@AyosInformatics.com
  WEBSITE: www.AyosInformatics.com


/***************************************************************************
		Override.
	***************************************************************************/

 @font-face {
    font-family:  'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
/*    src: url('res/Quicksand_Book.otf') format('opentype');*/
}
* {
    padding: 0;
    margin: 0;
}

a {
  text-decoration: none;
}

//a:link, a:visited {
//    color: #383884;
//}
//a:hover, a:active {
//    color: #618db5;
//}
//
//
//.header a:hover, a:active, .footer a:hover {
//    color: #383884;
//}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  box-sizing: content-box;
  display: inline-block;
  color: inherit;
  font: inherit;
}

body {
/*    background-image: url('body_bg.png');*/
    padding-top: 90px;
    background-position: center top;
    background-repeat: repeat-x;
    background-color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 13px;
}
h1 {
    font-family:'Quicksand', arial;
    font-size: 30px;
    padding-top: 12px;
    font-weight: normal;
}

a.h1-a {
  font-family:'Quicksand', arial;
  font-size: 30px;
  padding-top: 12px;
  font-weight: normal;
}

.edit-icon {
  display: inline-block;
}

.content h1 {
  margin-bottom: 10px;
}

hr {
    height: 4px;
    background-image: black;
    border-width: 0;
    margin-top: 12px;
    width: 738px;
    margin-left: 20px;
}
img {
    border-width: 0;
    display: block;
}
input {
    padding: 6px;
}
p {
    line-height: 19px;
    padding-top: 12px;
    margin-right: 16px;
}
.indent { text-indent: 20px; }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
    th { background: rgba(56, 56, 132, 0.2); }
}
textarea {
    width: 100%;
    height: 130px;
}
td {
    padding: 6px;
    border: 1px solid #eeeeee;
}
th {
    background-color: #eeeeee;
    padding: 6px;
    border: 1px solid white;
}
ul {
    list-style-position: inside;
    list-style-type: none;
}

.list-group {
  border: none;
  box-shadow: none;
}
.list-group-item {
  background: inherit;
  border: none;
}

.blurb {  
  border-radius: 4px;
  &:hover {
    background: $brand-primary;
    background: $brand-primary-transparent

  }
  button {
    width: 100%;
  }
}
/* Shared. */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.nudge-left {
  margin-left: -10px;
}

//.padding {
  //padding: 40px;
  //padding-top: 60px;
//  display: block;
//  position: relative;
/*  margin-top: 16px auto 0 auto;*/
/*  width: 300px;*/
//}

.left {
  float: left;
  margin-left: 16px;
}

.right {
  float: right;
  margin-right: 20px;
}

a.center {
  margin: auto;
  display: block;
  text-align: center;
/*  margin: 30px 0 30px 0;*/
  height: 104px;
  line-height: 104px;
  width: 430px;
}

li.right {
  float: right;
}

img.delete {
  margin-top: 12px;
  float: right;
  cursor: pointer;
}

a.delete-button {
  float: right;
  color: #7E0000;
  background: #D8DBDF;
  margin: 6px 16px 0 0;
  border-radius: 10px;
  padding: 2px 4px 2px 5px;
  font-size: 12px;
  font-weight: bold;
}
a.delete-button:hover {
  opacity: 0.5;
}

.about {
/*  width: 400px;*/
}
.photo {
  background-color: #728FCE;
  padding: 6px;
  margin: auto;
  width: 100%;
  max-width: 900px;
  border-radius: 4px;
}

.photo.photo-sm {
  max-width: 250px;
}

#bookings-carousel {
  width: 192px;
  float: right;
  margin-left: 6px;
}

.owl-carousel .owl-item{
/*    height:360px;*/
    width: 94%;
}

.facebook-auth {
  text-align: center;
  h1 {
    padding: 30px;
  }
  p {
    width: 320px;
  }
  img {
    display: inline-block;
    background-color: #728FCE;
    padding: 6px;
    border-radius: 4px;
  }
}

//.fb-auth-container {
//  width: 360px;
//  margin: auto;
//}

#testimonials .testimonial {
  text-indent: 15px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  border-radius: 4px;
  &:hover {
    background: rgba(56, 56, 132, 0.3);
  }
}

.resource {
  display: block;
  border-radius: 4px;
  &:hover {
    background: rgba(56, 56, 132, 0.3);
  }
  .resource-container {
    width: 360px;
    margin: auto;
  }
  .list-group-item {
    padding: 2px;
  }
}


.disney {
  margin: auto;
  width: 250px;
  padding-top: 25px;
  img:hover {
    opacity: .8;
  }
}

.disney-planner {
  p {
    text-indent: 15px;
  }
}

.map {
  margin: auto;
  margin-top: 12px;
}

.map-address {
  margin: auto;
  margin-top: 12px;
  width: 654px;
  padding: 14px;
}

.paragraph {
  width: 178px;
  display: block;
  position: relative;
  float: left;
}

a.hovertext {
  position: relative;
  width: 500px;
  text-decoration: none !important;
  text-align: center;
}

a.hovertext-small{
  position: relative;
  width: 500px;
  text-decoration: none !important;
  text-align: center;
}

.promotion-link {
  position: relative;
  display: block;
  width: 100%;
  max-width: 900px;
  margin: auto;
  &:hover  span.promotion-hovertext {
    opacity: 1.0;
  }
  span.promotion-hovertext {
    background: rgba(0,0,0,0.8);
    color: #fff;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 10px 16px;
    text-align: center;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
  }
}
a.hovertext:after, a.hovertext-small:after {
  content: attr(title);
  position: absolute;
  left: 45px;
  bottom: 6px;
  padding: 0.5em 20px;
  width: 646px;
  background: rgba(0,0,0,0.8);
  text-decoration: none !important;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
}
a.hovertext:hover:after, a.hovertext:focus:after {
  opacity: 1.0;
}

h2.signature {
    font-family: cursive;
    text-align: right;
    color: #505050;
    text-size: 20px;
    margin-right: 16px;
}

#contact-us {
  width: 400px;
}

.work-icon {
  list-style-image: url('work.gif');
  display: list-item;
}

.mobile-icon {
  list-style-image: url('mobile.gif');
   display: list-item;
}

.fax-icon {
  list-style-image: url('fax.gif');
  display: list-item;
}



.glyphicon-envelope:before {
  content: "\2709";
  font-size: 10px;
  padding: 3px 3px;
  border-radius: 2px;
  background: #b30000;
  color: white;
  margin-right: 9px;
}



/***************************************************************************
		Header.
  OLD: width: 1260px;
	***************************************************************************/
// header.header {
//    position: fixed;
//    width: 100%;
//    z-index: 1;
///*    height: 84px;*/
///*    min-width: 736px;*/
//    margin: 0px auto 0 auto;
//    overflow: auto;
//    top: 0;
//    background: linear-gradient(to bottom, #728FCE, #616D7E);
//    a:link, a:visited {
//        color: #EEEEEE;
//    }
//
//}
/*div.header img {
    float: left;
}*/

.logins {
  float: right;
  margin-right: 12px;
  display: block;
  height: 55px;
  width: 243px;
  li {
    float: right;
  }
}

.hidden {
  visibility: hidden;
}

.hidden:hover {
  visibility: visible;
}

/*.logins:hover {
  display:;
}

.logins .logout {
  display: none;
}

*/

.logout {
  display: inherit;
  visibility: inherit;
}

.logins > .hidden {
  visibility: hidden;
}

.logins:hover > .logout {
  visibility: visible;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
//
//.dropdown-menu-1 {
//  position: relative;
//  top: 0;
//  right: 0;
//  z-index: 1000;
//  float: right;
//  width: 100%;
//  padding: 5px 5px;
//  margin: 2px 0 0;
//  list-style: none;
//  font-size: 14px;
//  text-align: left;
//
//
//}

.block {
  display: block;
}

//.dropdown-menu-1 > li {
//  float: left;
//  width: 100px;
//  background-color: #728FCE;
//  border: 1px solid rgba(0, 0, 0, 0.15);
//  border-radius: 4px;
//  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
//  background-clip: padding-box;
//}
/***************************************************************************
		Navigation.
	***************************************************************************/
// ul.navigation {
//    width: 748px;
//    padding: 0 6px 0 6px;
///*    margin: 0px auto 15px auto;*/
//    overflow: auto;
//    li a {
//        font-family:'Quicksand', arial;
//        line-height: 46px;
//        color: white;
//        text-decoration: none;
//        padding: 0 6px 0 6px;
//        display: block;
//        &:hover {
//            background-color: #618db5;
//            border-radius: 4px;
//            color: #383884;
//            font-weight: bold;
//        }
//    }
//}
@media (min-width: 700px) {
  .sticky-nav {
    padding-left: 45px;
  }
  .navbar-inverse {
    & > .container-fluid > .navbar-inverse {
      background-color: transparent;
    }
  }
}

.sticky-nav {
//  padding-left: 0px;
}

.navbar {
  border-radius: 0;
}

#main-navigation {
}

.navbar-inverse {
  & > .container-fluid > .navbar-inverse {
//    background-color: $navbar-inverse-bg;
  }
  background-image: none;
  background-color: $navbar-inverse-bg;
  transition:all ease-in 3s;
  -moz-transition:all 3s ease-in;
  -o-transition:all 3s ease-in;
  -webkit-transition:all 3s ease-in;
  &.in {
    padding-bottom: 100px;
  }
  .navbar-nav > li > a {
    color: $brand-primary;
    font-weight: bold;
    font-size: 14px;
    line-height: 10px;
    text-align: center;
    padding: 10px 15px;
  }
  
  .navbar-brand {
    padding: 6px 15px;
    height: inherit;
    &:hover {
      opacity: .8;
    };
  }
}

.navbar-toggle {
  background-color: $brand-primary !important;
  margin: 9.5px;
  height: 55px;
  width: 55px;
//  transition: all 0.5s linear;
  
  .sr-only {
    display: none;
  }
  &:hover .icon-bar, &:hover .icon-bar:before, &:hover .icon-bar:after {
    background-color: lighten($navbar-inverse-toggle-icon-bar-bg, 10%);
  }
  
  .icon-bar, .icon-bar:before, .icon-bar:after {
    width: 30px;
    height: 3px;
    background-color: $navbar-inverse-toggle-icon-bar-bg;
    display: block;
  }
  #middle-bar{
    background-color: rgba(0,0,0,0.0);
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
  }
  .icon-bar {
    -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
  	margin: 0 auto;
  	position: relative;
//    background-color: rgba(0,0,0,0.0) !important;

    &:before, &:after {
    	position: absolute;
    	content: '';
      margin-top: 0;
      -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
      -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
      -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
      -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
      -webkit-transition-delay: 0.0s, 0.2s; transition-delay: 0.0s, 0.2s;
    }
    &:before {
      -webkit-transform: rotate(45deg); transform: rotate(45deg);
    }
    &:after {
      -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
    }
  }
  &.collapsed {
    padding: 0px 10px 10px 10px;
    .icon-bar {
    	top: 6px;
      -webkit-transition-duration: 0s; transition-duration: 0s;
      -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
    }
    #middle-bar{
      background-color: $navbar-inverse-toggle-icon-bar-bg;
    }
    .icon-bar, .icon-bar:before, .icon-bar:after {
      -webkit-transform: rotate(0deg); transform: rotate(0deg);
    }
    .icon-bar:before {
      margin-top: -12px;
    }
    .icon-bar:after {
      margin-top: 12px;
    } 
    .icon-bar:after, .icon-bar:before {
      -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
      -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
      -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
    }
  }
}


.logo {
/*  text-indent: 9998px;*/
/*  text-wrap: none;*/
  width: 216px;
  height: 60px;
  display: block;
  background: url("clark_travel_logo.png") no-repeat 0 0;
/*  overflow: hidden;*/
  float: left;
  margin: 3px 12px 5px 12px;
}

.ayos-logo {
  & > img:hover {
    opacity: .7;
  };
}


.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.nav-li {
    float: left;
}


.back-button {
  float: left;
  position: relative;
  top: -30px;
  height: 50px;
  width: 50px;
}

.dimmed {
  opacity: 0.3;
}


/***************************************************************************
		German Cruising
	***************************************************************************/
.background-image {
  background-size: cover;
  font-weight: bold;
  background-attachment: fixed;
}

.cruising-links {
  a {
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    margin-right: 8px;
    text-align: center;
  }
  .list-group-item {
    border: none;
    padding: 0;
    border-radius: 4px;
    &:hover {
      opacity: .9;
      background-color: $navbar-inverse-bg;
      transition:all 500ms;
      -webkit-transition:all 500ms;
      -moz-transition:all 500ms;
      -o-transition:all 500ms;
    };
  }
}
//.tint{
//  position: relative;
//  &:before {
//    content: "";
//    display: block;
//    position: absolute;
//    top: 0;
//    bottom: 0;
//    left: 0;
//    right: 0;
////    background: rgba(41, 41, 41, 0.5);
//    -moz-transition: background .3s linear;
//    -webkit-transition: background .3s linear;
//    -o-transition: background .3s linear;
//    transition: background .3s linear;
//    &:hover {
//      background: none;
//    }
//  }
//}

.cruising {
  &:before {
    background: rgba(0,0,255, 0.5);
    content: " ";
  }
  position: relative;
//  background-color: $downloadsBackground;// url() top center no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url("Emerald princess.jpg");
  background-opacity: .6;
  background-position-y: -100px;
  padding: 0;
  &:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), url("Emerald princess.jpg");
  }
  h1 a {
    color: white;
  }

  figure figcaption {
    position: absolute;
    top: 0;
    font-weight: bold;
    color: darken($navbar-inverse-toggle-hover-bg, 15%);
    padding: 5% 10px 20px 10px;
    font-size: 12px;
    text-align: center;
    backface-visibility: hidden;
    font-size: 18px;
    transition: all 0.5s;
    border-radius: 4px;
    &:hover {
//      background: rgba(255, 255, 255, 0.5);
    }
    h3 {
      margin-top: 10px;
      color: $brand-primary;
    }
  }
  img {
    backface-visibility: hidden;
    transition: all 0.5s;
    width: 100%;
    opacity: .5;
    min-height: 570px;
  }
  &:hover img {
    opacity: .2;
  }
}
//.no-touch .cruising figure:hover img,
//.cruising figure:hover img {
//    transform: rotateY(180deg);
//   // backface-visibility: hidden;
////    transition: all 0.5s;
//}
//.no-touch .cruising figure:hover figcaption,
//.cruising figure:hover figcaption {
//    transform: rotateY(0);
//}




.about {
  
//  background-color: $downloadsBackground;// url() top center no-repeat;
//  background-image: url("Emerald princess.jpg");
//  background-opacity: .9;
  padding: 0;
  //h1 a {
//    color: white;
//  }

  figure figcaption {
    position: absolute;
    top: 0;
    font-weight: bold;
    color: darken($navbar-inverse-toggle-hover-bg, 15%);
    padding: 5% 10px 20px 10px;
    font-size: 12px;
    text-align: center;
    backface-visibility: hidden;
    font-size: 18px;
    transition: all 0.5s;
    border-radius: 4px;
    &:hover {
//      background: rgba(255, 255, 255, 0.5);
    }
    h3 {
      margin-top: 10px;
      color: $brand-primary;
    }
  }
  img {
    backface-visibility: hidden;
    transition: all 0.5s;
    width: 100%;
    opacity: .5;
    min-height: 570px;
  }
  &:hover img {
    opacity: .2;
  }
}

/***************************************************************************
		Promotion
	***************************************************************************/

.yourtrip {
  padding-bottom: 20px;
  .figure {
    max-width: 600px;
    margin: auto;
    .figcaption {
      text-align: center;
    }
  }
}

.new-promotion-blurb {
  min-height: 182px;
  padding-bottom: 20px;
}

.promotion-body {
//  min-height: 500px;
  padding-top: 40px;
}

.promotion-row {
  max-height: 500px;
  min-height: 350px;
  overflow: hidden;
}
#test {
	background: url(http://s3.amazonaws.com/clark_travel_development/promotions/pictures/000/000/012/large/doug.jpg?1450894922) no-repeat center #fff;
	background-size: cover !important;
}
.promotion {
  padding: 0;
//  min-height: 500px;

  figure {
//    min-height: 500px;
    position: relative;
    width: 100%;
//    max-width: 900px;
//    margin: auto;
    figcaption {
//      min-height: 500px;
      position: absolute;
      top: 0;
      font-weight: bold;
      color: darken($navbar-inverse-toggle-hover-bg, 15%);
      padding: 5% 10px 20px 10px;
      font-size: 12px;
      text-align: center;
      backface-visibility: hidden;
      font-size: 18px;
      transition: all 0.5s;
      border-radius: 4px;
      width: 100%;
      &:hover {
  //      background: rgba(255, 255, 255, 0.5);
      }
      h3 {
        margin-top: 10px;
        color: $brand-primary;
      }
    }
  }
  img {
    backface-visibility: hidden;
    transition: all 0.5s;
    width: 100%;
    opacity: .6;
//    min-height: 300px;
  }
  &:hover img {
    opacity: .3;
  }
}


/***************************************************************************
		Booking Category
	***************************************************************************/

.category{
  display: block;
  border-radius: 4px;
  &:hover {
    background: rgba(56, 56, 132, 0.3);
  }
  .category-container {
    width: 360px;
    margin: auto;
    h1 {
      font-size: 35px;
      a {
        font-size: inherit;
      }
    }
    //.category-link {
//      width: 100%;
//      font-size: 16px;
//      display: block;
//      &:hover {
//        background: rgba(56, 56, 132, 0.8);
//        color: white;
//      }
//    }
  }
}
.category {
  .category-container {
    figure {
        position: relative;
        width: 100%;
        max-width: 900px;
        margin: auto;
      figcaption {
        position: absolute;
        top: 0;
        font-weight: bold;
        color: darken($navbar-inverse-toggle-hover-bg, 15%);
        padding: 5% 10px 20px 10px;
        font-size: 12px;
        text-align: center;
        backface-visibility: hidden;
        font-size: 18px;
        transition: all 0.5s;
        border-radius: 4px;
        width: 100%;
        &:hover {
    //      background: rgba(255, 255, 255, 0.5);
        }
        h3 {
          margin-top: 10px;
          color: $brand-primary;
        }
      }
    }
    img.image {
      backface-visibility: hidden;
      transition: all 0.5s;
      width: 100%;
      opacity: .5;
      min-height: 300px;
    }
    &:hover img {
      opacity: .2;
    }
  }
}




/***************************************************************************
		User
	***************************************************************************/
.user {
  min-height: 324px;
  width: 360px;
  margin: auto;
  display: block;
}

.user-show {
  .min-height {
    min-height: 645px;
  }
  .contact ul li {
    font-size: 18px;
  }
}

.user-photo {

  img {
      padding: 20px;
      max-width: 360px;
  }
}

.users {
  
  .contact-info {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    .list-group-item {
      padding: 7px 0;
      a {
        font-weight: bold;
        font-size: 25px;
        display: block;
      }
    }
  }

  .small-avatar {
    float: left;
  }
  
  padding: 0;
  .min-height {
    min-height: 476px;
  }
  
  h1 {
    text-align: center;
  }
  
  

  figure figcaption {
    position: absolute;
    top: 0;
    font-weight: bold;
    width: 100%;
    height: 100%;
    color: darken($navbar-inverse-toggle-hover-bg, 15%);
    padding: 5% 10px 20px 10px;
    font-size: 12px;
    text-align: center;
    backface-visibility: hidden;
    font-size: 18px;
    transition: all 0.5s;
    border-radius: 4px;
    .contact-info {
      opacity: .5;
    }
    &:hover {
      opacity: 1;
    }
    h3 {
      margin-top: 10px;
      color: $brand-primary;
    }
  }
  img {
    backface-visibility: hidden;
    transition: all 0.5s;
    width: 100%;
//    opacity: .5;
    margin: auto;

  }
  .user-show &:hover {
    figure figcaption .contact-info{
      opacity: 1;
    }
    img {
      opacity: .2;
    }
  }
}

.edit-link {
  display: inline;
}

.booking-categories {
  .list-group-item {
    padding: 0px 0;
    a {
      font-weight: bold;
//      font-size: 25px;
//      display: block;
    }
  }
}
   
/***************************************************************************
    New Content Using bootstrap
	***************************************************************************/
.row-padding-lg {
  padding-top: 80px;
}

.row-padding {
  padding: 40px 20px;
}
/***************************************************************************
		Standard half size content.
	***************************************************************************/
 .content {
    width: 826px;
    padding: 118px 0 6px 2px;
    margin: auto;
    overflow: auto;
    display: block;
}
.content .content {
    width: 412px;
    background-image: url('content_bg.png');
    background-repeat: no-repeat;
    padding: 24px 30px 24px 24px;
    margin-left: 0px;
    float: left;
    overflow: auto;
}



.no-image > a {
  font-size: 14px;
}

.no-image {
  background-image: none;
  width: 391px;
  background-repeat: no-repeat;
  padding: 24px 24px 24px 24px;
  margin-left: 0px;
  float: left;
  overflow: auto;
}

.no-image:hover {
  background-image: url('content_bg.png');
}

.min-height {
  min-height: 421px;
}


/***************************************************************************
		Large content.
	***************************************************************************/
 .contentFull {
    width: 782px;
    background-repeat: no-repeat;
    padding: 12px 24px 12px 24px;
    margin: 0 auto 48px -6px;
    overflow: auto;
}

.contentFull:hover {
    background-image: url('content_bg_full.png');
}

div.no-imageFull {
  background-image: none;
  width: 774px;
  background-repeat: no-repeat;
/*  padding: 12px 24px 12px 24px;*/
  margin: 0 auto 0 auto;
  overflow: auto;
}


/***************************************************************************
		Forms.
	***************************************************************************/
#new-german-cruising-form {
  h3.passenger-header {
    text-align: left !important;
  }
}
.text-center {
  text-align: center;
}

.form-group > input[type="submit"] {
  width: 100%;
}

//.form {
///*  margin: 100px;*/
//  margin: auto;
//  width: auto;
//  border-radius: 10px;
//  float: left;
//}

div.form {
  padding: 20px 40px;
}
form .long-submit > input {
  width: 294px;
  display: block;
  margin: auto;
  
}

.spacer {
  margin-top: 56px;
}

.inline-header-link {
  margin-top: 56px;
  padding: 40px;
}

a.spacer {
  position: relative;
  top: 56px;
}

.checkbox-group {
  display: block;
  float: left;
  padding-bottom: 20px;
}

.checkbox-input {
  display: block;
  float: left;
  margin: 4px;
}

.checkbox-input > label {
  display: block;
  padding: 0 0 5px 0;
  float: left;
}

.checkbox-input > input {
  border: 2px solid #000;
  padding: 5px 10px;
/*  width: 250px;*/
  border-radius: 4px;
}

form .submit > input {
  position: relative;
  background: #728FCE;
/*  color: #515254;*/
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  border: 0;
/*  width: 250px;*/
  box-shadow: 0 3px #616D7E;
}

.submit > input:hover {
  background: #9198c4;
/*  background: #1A8554;*/
}

/*.submit {
  float: right;
}*/

.submit > input:active {
  top: 3px;
  box-shadow: none;
}
.input {
  margin: 20px 0 20px 15px;
}

.input > input, .input > textarea {
  border: 2px solid #000;
  padding: 5px 10px;
  border-radius: 4px;
}

.long-input > input, .long-input > textarea {
  width: 600px;
}

.aulani {
  width: 300;
  padding: 100px 0px !important;

  img {
    width: 100%;
  }
}

.center {
  margin: auto;
//  width: 324px;
  text-align: center;

  & img {
    margin: auto;
  }
}
.half-size {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
//  display: inline;
}

.input > select {
  border-radius: 4px;
  border: 2px solid #000;
  background: transparent;
  height: 30px;
  font-size: 15px;
  padding: 5px;
  background: #fff;
}

.input > select:select {
  border-radius: 4px;
  border: 2px solid #000;
  border-color: #4BE19D;
}

.input > label {
  display: block;
  /*width: 250px;*/
  font-weight: bold;
  padding: 0 0 5px 0;
}

/******************************* Notice and Error messages. *************************************/
 
.errors {
    background-color: #edabab;
    margin: 12px auto 0 auto;
}

.notices {
  background-color: #afdbbc;
  color: #1b7d56;
}
.info {
  width: 750px;
  padding: 20px;
  margin: 0px auto 0px auto;
  position: relative;
  right: 3px;
  z-index: 999;
  opacity: .9;
  border-radius: 4px;
}


/******************************* Search. *************************************/
 #searchMap {
    margin: 19px 0 0 20px;
}


/******************************* Footer. *************************************/
 footer.footer {
  background-color: #666362;
  background: linear-gradient(to bottom, #616D7E, #728FCE);
  padding: 16px 0 12px 0;
  overflow: auto;
  p {
    text-indent: 15px;
    color: black;
  }
  .address {
      font-size: 16px;
      color: black;
      margin-right: 12px;
      padding-top: 35px;
      padding-left: 4px;
      font-weight: bold;
      text-align: center;
      display: block;
  }
  .copyright {
    font-size: 12px;
    color: black;
    padding: 10px;
    text-align: center;
    img {
      margin: auto;
    }
  }
  
}

 

.post {
  display: block;
  height: 150px;
//  width: 100%;
  margin: auto;
  img {
    margin: auto;
    width: 132px;
  }
  & > p {
//    width: 400px;
    overflow: hidden;
    height: 150px;
  }
  small {
    display: block;
    float: left;
    margin-right: 6px;
  }
}

