<%= render "form", promotion: @promotion %>

<div class="content">
  <h1 class="center"><%= link_to "Contact us to learn more:", user_url(@promotion.user), inquiry_id: @promotion.id, class: "center" %></h1>
</div>