<div class="contentFull">
	<%= link_to "&#10006".html_safe, testimonial_url(testimonial), data: {confirm: "Really delete Testimonial \"#{testimonial.highlight}\"?" }, method: :delete, class: "delete-button" if current_user_is_admin? %>

	<h1><%= current_user_is_admin? ? link_to("\"#{testimonial.highlight}\"", edit_testimonial_url(testimonial)) : "\"#{testimonial.highlight}\"" %></h1>
	<p><%= "\"#{testimonial.body}\"" %></p>
	<h2 class="signature">-<%= testimonial.signature %></h2>
  <hr>
</div>
